<div class="hero-unit">
  <%= image_tag "looplogo_Rect.jpg" %>
<p>
Have you ever been at an event and run into someone you know that you’ve met before? You know that face, but you can’t place their name or where you met them. Loop, an event and location based application, will help you win at the “name game!” Loop keeps track of people you meet at events and alerts you to their presence at other engagements. 
</p>
</div>

<%= link_to "View Events", events_path, :class => "btn btn-primary" %>
