<div class="hero-unit">
<h1>Loop</h1>
<p class="tagline">Keeping you in the Loop at professional events</p>
<p>
  Loop will do some stuff
</p>
</div>

<%= link_to "View Events", events_path, :class => "btn btn-primary" %>
